In [13]:
import pandas as pd
from datetime import datetime, timedelta
from matplotlib import pyplot as plt
from matplotlib import dates as mpl_dates
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [14]:
# Read a Dividend CSV file into a dataframe
dfEarning = pd.read_csv('data/stocks_latest/earnings_latest.csv')
dfEarning

       symbol        date      qtr  eps_est   eps release_time
0           A  2009-05-14  04/2009      NaN   NaN         post
1           A  2009-08-17  07/2009      NaN   NaN         post
2           A  2009-11-13  10/2009      NaN   NaN          pre
3           A  2010-02-12  01/2010      NaN   NaN          pre
4           A  2010-05-17  04/2010      NaN   NaN         post
...       ...         ...      ...      ...   ...          ...
150184   ZYXI  2019-02-26       Q4    0.073  0.08          NaN
150185   ZYXI  2019-04-30       Q1    0.050  0.07          NaN
150186   ZYXI  2019-07-31       Q2    0.060  0.06          NaN
150187   ZYXI  2019-10-29       Q3    0.057  0.06         post
150188   ZYXI  2020-02-27       Q4    0.077  0.09         post

[150189 rows x 6 columns]

In [15]:
filtertEarning = ((dfEarning['date']> '2000-01-01') & (dfEarning['symbol'] == 'AAPL'))
dfEarning = dfEarning[filtertEarning].sort_values('date', ascending = False)
dfEarning

    symbol        date      qtr  eps_est   eps release_time
379   AAPL  2020-01-28       Q1    4.547  4.99          NaN
378   AAPL  2019-10-30       Q4    2.839  3.03          NaN
377   AAPL  2019-07-30  06/2019    2.098  2.18         post
376   AAPL  2019-04-30  03/2019    2.361  2.46         post
375   AAPL  2019-01-29  12/2018    4.170  4.18         post
374   AAPL  2018-11-01  09/2018    2.790  2.91         post
373   AAPL  2018-07-31  06/2018    2.170  2.34         post
372   AAPL  2018-05-01  03/2018    2.690  2.73         post
371   AAPL  2018-02-01  12/2017    3.820  3.89         post
370   AAPL  2017-11-02  09/2017    1.870  2.07         post
369   AAPL  2017-08-01  06/2017    1.570  1.67         post
368   AAPL  2017-05-02  03/2017    2.020  2.10         post
367   AAPL  2017-01-31  12/2016    3.220  3.36         post
366   AAPL  2016-10-25  09/2016    1.660  1.67         post
365   AAPL  2016-07-26  06/2016    1.390  1.42         post
364   AAPL  2016-04-26  03/2016    1.970  1.90         post
363   AAPL  2016-01-26  12/2015    3.240  3.28         post
362   AAPL  2015-10-27  09/2015    1.880  1.96         post
361   AAPL  2015-07-21  06/2015    1.800  1.85         post
360   AAPL  2015-04-27  03/2015    2.190  2.33         post
359   AAPL  2015-01-27  12/2014    2.600  3.06         post
358   AAPL  2014-10-20  09/2014    1.300  1.42         post
357   AAPL  2014-07-22  06/2014    1.220  1.28         post
356   AAPL  2014-04-23  03/2014    1.460  1.66         post
355   AAPL  2014-01-27  12/2013    2.010  2.07         post
354   AAPL  2013-10-28  09/2013    1.130  1.18         post
353   AAPL  2013-07-23  06/2013    1.040  1.07         post
352   AAPL  2013-04-23  03/2013    1.450  1.44         post
351   AAPL  2013-01-23  12/2012    1.920  1.97         post
350   AAPL  2012-10-25  09/2012    1.260  1.24         post
349   AAPL  2012-07-24  06/2012      NaN   NaN          NaN
348   AAPL  2012-04-24  03/2012      NaN   NaN         post
347   AAPL  2012-01-24  12/2011      NaN   NaN         post
346   AAPL  2011-10-18  09/2011      NaN   NaN         post
345   AAPL  2011-07-19  06/2011      NaN   NaN         post
344   AAPL  2011-04-20  03/2011      NaN   NaN         post
343   AAPL  2011-01-18  12/2010      NaN   NaN         post
342   AAPL  2010-10-18  09/2010      NaN   NaN          NaN
341   AAPL  2010-07-20  06/2010      NaN   NaN         post
340   AAPL  2010-04-20  03/2010      NaN   NaN         post
339   AAPL  2010-01-25  12/2009      NaN   NaN         post
338   AAPL  2009-10-19  09/2009      NaN  0.45         post
337   AAPL  2009-07-21  06/2009      NaN   NaN         post

In [16]:
plt.style.use('seaborn')
len(dfEarning.index)
plt.figure(figsize=(200,100))

In [ ]:
plt.plot_date(dfEarning['date'], dfEarning['eps'], linestyle='solid')
plt.plot_date(dfEarning['date'], dfEarning['eps_est'], linestyle='solid')