In [83]:
import pandas as pd
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [84]:
# Read a CSV file into a dataframe
df = pd.read_csv('data/friends.csv')
df

    S.No.       Name  Age City           Email  CitiesLivedInPast
0       1   Abhishek   40   SY  ak13@gmail.com          LKO;GR;NO
1       2  Abhishek1   41   AT   ak1@gmail.com            LKO;CHN
2       3    Saurabh   42   SY  sk29@gmail.com     LKO;CHN;CAL;NO
3       4      Sando   44   NO  sd18@gmail.com  LKO;CHN;CAL;NO;GR
4       5     Ashish   42   DL  as12@gmail.com                NaN
5       6     Faheem   41   GR  fs25@gmail.com      LKO;BAN;NO;DL
6       7     Anurag   42   NO  ak04@gmail.com      LKO;BUB;GR;NO
7       8    Pradeep   42   PN  pg16@gmail.com      LKO;CHN;GR;PN
8       9      Anand   42   DB  ak05@gmail.com                HYD
9      10       Deek   40   NJ  dg08@gmail.com             NO;CNB
10     11     Hitesh   40   DB  hp12@gmail.com                NaN
11     12      Roops   41   SY  rr27@gmail.com                NaN
12     13       Rash   41   DB  rp05@gmail.com                NaN

### Adding and Removing Columns

In [85]:
df['Name'] + ' contact: ' + df['Email']

0     Abhishek contact: ak13@gmail.com
1     Abhishek1 contact: ak1@gmail.com
2      Saurabh contact: sk29@gmail.com
3        Sando contact: sd18@gmail.com
4       Ashish contact: as12@gmail.com
5       Faheem contact: fs25@gmail.com
6       Anurag contact: ak04@gmail.com
7      Pradeep contact: pg16@gmail.com
8        Anand contact: ak05@gmail.com
9         Deek contact: dg08@gmail.com
10      Hitesh contact: hp12@gmail.com
11       Roops contact: rr27@gmail.com
12        Rash contact: rp05@gmail.com
dtype: object

In [86]:
df['Contact']  = df['Name'] + ' contact: ' + df['Email']
df

,S.No.,Name,Age,City,Email,CitiesLivedInPast,Contact
0,1,Abhishek,40,SY,ak13@gmail.com,LKO;GR;NO,Abhishek contact: ak13@gmail.com
1,2,Abhishek1,41,AT,ak1@gmail.com,LKO;CHN,Abhishek1 contact: ak1@gmail.com
2,3,Saurabh,42,SY,sk29@gmail.com,LKO;CHN;CAL;NO,Saurabh contact: sk29@gmail.com
3,4,Sando,44,NO,sd18@gmail.com,LKO;CHN;CAL;NO;GR,Sando contact: sd18@gmail.com
4,5,Ashish,42,DL,as12@gmail.com,NaN,Ashish contact: as12@gmail.com
5,6,Faheem,41,GR,fs25@gmail.com,LKO;BAN;NO;DL,Faheem contact: fs25@gmail.com
6,7,Anurag,42,NO,ak04@gmail.com,LKO;BUB;GR;NO,Anurag contact: ak04@gmail.com
7,8,Pradeep,42,PN,pg16@gmail.com,LKO;CHN;GR;PN,Pradeep contact: pg16@gmail.com
8,9,Anand,42,DB,ak05@gmail.com,HYD,Anand contact: ak05@gmail.com
9,10,Deek,40,NJ,dg08@gmail.com,NO;CNB,Deek contact: dg08@gmail.com
10,11,Hitesh,40,DB,hp12@gmail.com,NaN,Hitesh contact: hp12@gmail.com
11,12,Roops,41,SY,rr27@gmail.com,NaN,Roops contact: rr27@gmail.com
12,13,Rash,41,DB,rp05@gmail.com,NaN,Rash contact: rp05@gmail.com

In [87]:
df.drop(columns = ['Name', 'Age'])

,S.No.,City,Email,CitiesLivedInPast,Contact
0,1,SY,ak13@gmail.com,LKO;GR;NO,Abhishek contact: ak13@gmail.com
1,2,AT,ak1@gmail.com,LKO;CHN,Abhishek1 contact: ak1@gmail.com
2,3,SY,sk29@gmail.com,LKO;CHN;CAL;NO,Saurabh contact: sk29@gmail.com
3,4,NO,sd18@gmail.com,LKO;CHN;CAL;NO;GR,Sando contact: sd18@gmail.com
4,5,DL,as12@gmail.com,NaN,Ashish contact: as12@gmail.com
5,6,GR,fs25@gmail.com,LKO;BAN;NO;DL,Faheem contact: fs25@gmail.com
6,7,NO,ak04@gmail.com,LKO;BUB;GR;NO,Anurag contact: ak04@gmail.com
7,8,PN,pg16@gmail.com,LKO;CHN;GR;PN,Pradeep contact: pg16@gmail.com
8,9,DB,ak05@gmail.com,HYD,Anand contact: ak05@gmail.com
9,10,NJ,dg08@gmail.com,NO;CNB,Deek contact: dg08@gmail.com
10,11,DB,hp12@gmail.com,NaN,Hitesh contact: hp12@gmail.com
11,12,SY,rr27@gmail.com,NaN,Roops contact: rr27@gmail.com
12,13,DB,rp05@gmail.com,NaN,Rash contact: rp05@gmail.com

In [88]:
df # changes are not applied

,S.No.,Name,Age,City,Email,CitiesLivedInPast,Contact
0,1,Abhishek,40,SY,ak13@gmail.com,LKO;GR;NO,Abhishek contact: ak13@gmail.com
1,2,Abhishek1,41,AT,ak1@gmail.com,LKO;CHN,Abhishek1 contact: ak1@gmail.com
2,3,Saurabh,42,SY,sk29@gmail.com,LKO;CHN;CAL;NO,Saurabh contact: sk29@gmail.com
3,4,Sando,44,NO,sd18@gmail.com,LKO;CHN;CAL;NO;GR,Sando contact: sd18@gmail.com
4,5,Ashish,42,DL,as12@gmail.com,NaN,Ashish contact: as12@gmail.com
5,6,Faheem,41,GR,fs25@gmail.com,LKO;BAN;NO;DL,Faheem contact: fs25@gmail.com
6,7,Anurag,42,NO,ak04@gmail.com,LKO;BUB;GR;NO,Anurag contact: ak04@gmail.com
7,8,Pradeep,42,PN,pg16@gmail.com,LKO;CHN;GR;PN,Pradeep contact: pg16@gmail.com
8,9,Anand,42,DB,ak05@gmail.com,HYD,Anand contact: ak05@gmail.com
9,10,Deek,40,NJ,dg08@gmail.com,NO;CNB,Deek contact: dg08@gmail.com
10,11,Hitesh,40,DB,hp12@gmail.com,NaN,Hitesh contact: hp12@gmail.com
11,12,Roops,41,SY,rr27@gmail.com,NaN,Roops contact: rr27@gmail.com
12,13,Rash,41,DB,rp05@gmail.com,NaN,Rash contact: rp05@gmail.com

In [89]:
df.drop(columns = ['Name', 'Age'], inplace = True)
df

,S.No.,City,Email,CitiesLivedInPast,Contact
0,1,SY,ak13@gmail.com,LKO;GR;NO,Abhishek contact: ak13@gmail.com
1,2,AT,ak1@gmail.com,LKO;CHN,Abhishek1 contact: ak1@gmail.com
2,3,SY,sk29@gmail.com,LKO;CHN;CAL;NO,Saurabh contact: sk29@gmail.com
3,4,NO,sd18@gmail.com,LKO;CHN;CAL;NO;GR,Sando contact: sd18@gmail.com
4,5,DL,as12@gmail.com,NaN,Ashish contact: as12@gmail.com
5,6,GR,fs25@gmail.com,LKO;BAN;NO;DL,Faheem contact: fs25@gmail.com
6,7,NO,ak04@gmail.com,LKO;BUB;GR;NO,Anurag contact: ak04@gmail.com
7,8,PN,pg16@gmail.com,LKO;CHN;GR;PN,Pradeep contact: pg16@gmail.com
8,9,DB,ak05@gmail.com,HYD,Anand contact: ak05@gmail.com
9,10,NJ,dg08@gmail.com,NO;CNB,Deek contact: dg08@gmail.com
10,11,DB,hp12@gmail.com,NaN,Hitesh contact: hp12@gmail.com
11,12,SY,rr27@gmail.com,NaN,Roops contact: rr27@gmail.com
12,13,DB,rp05@gmail.com,NaN,Rash contact: rp05@gmail.com

In [90]:
df['Contact'].str.split( ' ')

0     [Abhishek, contact:, ak13@gmail.com]
1     [Abhishek1, contact:, ak1@gmail.com]
2      [Saurabh, contact:, sk29@gmail.com]
3        [Sando, contact:, sd18@gmail.com]
4       [Ashish, contact:, as12@gmail.com]
5       [Faheem, contact:, fs25@gmail.com]
6       [Anurag, contact:, ak04@gmail.com]
7      [Pradeep, contact:, pg16@gmail.com]
8        [Anand, contact:, ak05@gmail.com]
9         [Deek, contact:, dg08@gmail.com]
10      [Hitesh, contact:, hp12@gmail.com]
11       [Roops, contact:, rr27@gmail.com]
12        [Rash, contact:, rp05@gmail.com]
Name: Contact, dtype: object

In [91]:
df['Contact'].str.split( ' ', expand = True)

            0         1               2
0    Abhishek  contact:  ak13@gmail.com
1   Abhishek1  contact:   ak1@gmail.com
2     Saurabh  contact:  sk29@gmail.com
3       Sando  contact:  sd18@gmail.com
4      Ashish  contact:  as12@gmail.com
5      Faheem  contact:  fs25@gmail.com
6      Anurag  contact:  ak04@gmail.com
7     Pradeep  contact:  pg16@gmail.com
8       Anand  contact:  ak05@gmail.com
9        Deek  contact:  dg08@gmail.com
10     Hitesh  contact:  hp12@gmail.com
11      Roops  contact:  rr27@gmail.com
12       Rash  contact:  rp05@gmail.com

In [92]:
df[['name', 'useless', 'email']] = df['Contact'].str.split( ' ', expand = True)

In [93]:
df

,S.No.,City,Email,CitiesLivedInPast,Contact,name,useless,email
0,1,SY,ak13@gmail.com,LKO;GR;NO,Abhishek contact: ak13@gmail.com,Abhishek,contact:,ak13@gmail.com
1,2,AT,ak1@gmail.com,LKO;CHN,Abhishek1 contact: ak1@gmail.com,Abhishek1,contact:,ak1@gmail.com
2,3,SY,sk29@gmail.com,LKO;CHN;CAL;NO,Saurabh contact: sk29@gmail.com,Saurabh,contact:,sk29@gmail.com
3,4,NO,sd18@gmail.com,LKO;CHN;CAL;NO;GR,Sando contact: sd18@gmail.com,Sando,contact:,sd18@gmail.com
4,5,DL,as12@gmail.com,NaN,Ashish contact: as12@gmail.com,Ashish,contact:,as12@gmail.com
5,6,GR,fs25@gmail.com,LKO;BAN;NO;DL,Faheem contact: fs25@gmail.com,Faheem,contact:,fs25@gmail.com
6,7,NO,ak04@gmail.com,LKO;BUB;GR;NO,Anurag contact: ak04@gmail.com,Anurag,contact:,ak04@gmail.com
7,8,PN,pg16@gmail.com,LKO;CHN;GR;PN,Pradeep contact: pg16@gmail.com,Pradeep,contact:,pg16@gmail.com
8,9,DB,ak05@gmail.com,HYD,Anand contact: ak05@gmail.com,Anand,contact:,ak05@gmail.com
9,10,NJ,dg08@gmail.com,NO;CNB,Deek contact: dg08@gmail.com,Deek,contact:,dg08@gmail.com
10,11,DB,hp12@gmail.com,NaN,Hitesh contact: hp12@gmail.com,Hitesh,contact:,hp12@gmail.com
11,12,SY,rr27@gmail.com,NaN,Roops contact: rr27@gmail.com,Roops,contact:,rr27@gmail.com
12,13,DB,rp05@gmail.com,NaN,Rash contact: rp05@gmail.com,Rash,contact:,rp05@gmail.com

### Adding and Removing Rows

In [94]:
df.append({'name':'Ishanvi'})

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [ ]:
df.append({'name':'Ishanvi'}, ignore_index=True)

In [ ]:
# Read a CSV file into a dataframe
df = pd.read_csv('data/friends.csv')
df

In [ ]:
friends = {
    'Name' :['Vipin', 'Deepak'],
    'S.No.':[14,15],    
    'City' : ['FR','ST'],
    'Age' : [42,42],
    'Email' : ['vk00@gmail.com', 'dc00@gmail.com'],
    'CitiesLivedInPast': ['BR;NJ','DL;MU']
}
df2 = pd.DataFrame(friends)
df2

In [ ]:
df.append(df2,ignore_index = True)

In [ ]:
df.append(df2,ignore_index = True, sort = True)

In [ ]:
df

In [ ]:
df = df.append(df2,ignore_index = True)

In [ ]:
df

In [ ]:
df.drop([13,14])

In [ ]:
df

In [ ]:
df.drop([13,14], inplace = True)

In [ ]:
df

In [ ]:
df.drop(df[df['Age'] > 41].index)